body {}

.title {
    font-size: 48pt;
}

.done:hover {
    background-color: black;
    color: lime;
}

label:hover {
    background-color: black;
    color: lime;
}

input[type=radio]:checked+label {
    background-color: black;
    color: lime;
}